@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* Clash Display (local or CDN) */
@font-face {
  font-family: "ClashDisplay";
  src: url("/public/ClashDisplay-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
